/* Base styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
    padding: 0;
    box-sizing: border-box;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: transparent;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    box-sizing: border-box;
}

.navbar-logo img {
    height: 40px;
}

.menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-grow: 1;
    justify-content: center;
}

.menu li {
    margin: 0 10px;
}

.menu li a {
    display: block;
    padding: 10px 20px;
    background-color: rgba(128, 128, 128, 0.2);
    color: black;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.menu li a:hover {
    background-color: rgba(128, 128, 128, 0.6);
}

.content {
    padding: 80px 20px 20px;
    box-sizing: border-box;
}

/* Styles for mobile view */
.menu-toggle {
    display: none;
    font-size: 30px;
    cursor: pointer;
    background: none;
    border: none;
    color: black;
    padding: 10px;
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between;
    }

    /* Hamburger button for mobile view */
    .menu-toggle {
        display: block;
    }

    /* Hide the menu initially in mobile view */
    .menu {
        flex-direction: column;
        display: none;
        position: absolute;
        top: 60px; /* Place below the navbar */
        left: 0;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.9);
        z-index: 999;
    }

    .menu li {
        text-align: center;
        margin: 10px 0;
    }

    /* Show the menu when toggled */
    .menu.active {
        display: flex;
    }

    .content {
        padding: 100px 10px;
    }
}
